datasets
output
_output
Backup
test
app-java/target
app-cpp/build
app-cpp_B
.vscode
.venv
.vs
x64
Debug
Release
app-cpp/app-cpp.vcxproj.user
app-cpp/app-cpp.vcxproj.filters
app-cpp/app-cpp.vcxproj
app-cpp/app-cpp.sln